body {
  background-color:rgb(130, 255, 255);
  font-size: 1em;
}

h1 {
     
}

#email input, label {

}

#phoneNumber input, label {

}

#dob input, label {

}

#submit::before {
  
}

#form {

}

@media only screen and (min-width: 800px) {
  #form{
    width: ;
    flex-wrap: ;
  }
}